<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.letu.app.game.strategy">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".LetuApplicaiton"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity
            android:name=".ui.main.widget.MainActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.WelcomeActivity"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.widget.LoginActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.register.widget.RegisterActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.protocol.widget.ProtocolActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.strategy.widget.StrategyDetailActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.strategy.widget.ImgPreviewActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.strategy.widget.CommentEditActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.game.widget.GameDetailActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.strategy.widget.StrategyListActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.strategy.widget.StrategyEditActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.GameListActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.CollectListActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.WebViewActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.login.widget.ForgetPasswordActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.ModifyPasswordActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.UserInfoActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.ModifyNickNameActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.ModifyAvatarActivity"
            android:screenOrientation="sensorPortrait" />

        <!-- ImagePicker 相关配置 -->
        <activity
            android:name=".ui.common.imagepicker.cropper.CropImageActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.imagePicker.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.me.widget.PromoterActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.me.widget.PromoterDetailActivity"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.strategy.widget.StrategyDetailNewActivity"
            android:screenOrientation="sensorPortrait"></activity>
    </application>

</manifest>